<div style="overflow: hidden">
    <div style="max-height: 500px">
        <img src="images/apps2.jpg" width="100%">
    </div>
</div>

<div class="container text-center mt-5 mb-5">
    <h1>Applications</h1>
    <br>
    <p>
        While an explanation of my web development skillset might be helpful, nothing can provide a better understanding of my capabilities than taking a look at some of the applications that I've created. Check out some of the applications that I've produced below - this is an ever-growing and constantly-improving list of my works.
    </p>
</div>

<div class="container mb-5 text-center">

            <!--Mailfriend-->
            <div class="card align-middle shadow-sm mt-2 mb-2 m-2" style="height: 500px; width: 350px; margin: 0px auto; border-radius: 20px; display: inline-block">
                <div class="p-5 text-center">
                    <h1>Mailfriend</h1>
                    <img src="/images/mailfriend.jpg" height="100px" width="100px" class="shadow-sm mt-4 mb-5" style="border-radius: 100%">
                    <div style="height: 120px">
                        <p>Send and receive messages to other registered users. View your received, sent, and deleted messages. Create an account and manage your profile.</p>
                    </div>
                    <div class="div mt-4">
                        <i class="fas fa-search-plus mr-3"></i><a href="https://github.com/cafeamericano/mailfriend">View Source</a>
                    </div>
                </div>
            </div>

            <!--Notebook-->
            <div class="card align-middle shadow-sm mt-2 mb-2 m-2" style="height: 500px; width: 350px; margin: 0px auto; border-radius: 20px; display: inline-block">
                <div class="p-5 text-center">
                    <h1>Notebook</h1>
                    <img src="/images/notebook.jpg" height="100px" width="100px" class="shadow-sm mt-4 mb-5" style="border-radius: 100%">
                    <div style="height: 120px">
                        <p>Monitor and keep track of your study habits. Create an account to optimize your study time with this productivity-oriented application.</p>
                    </div>
                    <div class="div mt-4">
                        <i class="fas fa-search-plus mr-3"></i><a href="https://github.com/cafeamericano/notebook">View Source</a>
                    </div>
                </div>
            </div>

</div>