<div style="overflow: hidden">
    <div style="max-height: 500px">
        <img src="images/apps2.jpg" width="100%">
    </div>
</div>

<div class="container">

<br>
<br>

<div class="text-center">
    <h1>Applications</h1>
    <br>
    <p>
        While an explanation of my web development skillset might be helpful, nothing can provide a better understanding of my capabilities than taking a look at some of the applications that I've created. Check out some of the applications that I've produced below - this is an ever-growing and constantly-improving list of my works.
    </p>
</div>

<br>
<hr>
<br>

<div class="container">
  <div class="row">

            <!--Mailfriend-->
            <div class="card align-middle shadow-sm mt-2 mb-2" style="height: 550px; width: 350px; margin: 0px auto">
                <div class="p-5 text-center">
                    <h1>Mailfriend</h1>
                    <br>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Washington_1857_1st_perf-3c.jpg" height="100px" width="100px" class="shadow-sm" style="border-radius: 100%">
                    <br>
                    <br>
                    <hr>
                    <br>
                    <div style="height: 120px">
                        <p>
                            Monitor and keep track of your study habits. Visualize trends in your learning, and optimize your study time with this productivity-oriented application.
                        </p>
                    </div>
                    <a href="https://github.com/cafeamericano/mailfriend">
                        <button class="btn btn-outline-primary mt-3">View Source</button>
                    </a>
                </div>
            </div>

            <!--Moneytracker-->
            <div class="card align-middle shadow-sm mt-2 mb-2" style="height: 550px; width: 350px; margin: 0px auto">
                <div class="p-5 text-center">
                    <h1>Moneytracker</h1>
                    <br>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/3/3b/Claudius_II_coin_%28colourised%29.png" height="100px" width="100px" class="shadow-sm" style="border-radius: 100%">
                    <br>
                    <br>
                    <hr>
                    <br>
                    <div style="height: 120px">
                        <p>
                            Monitor and keep track of your study habits. Visualize trends in your learning, and optimize your study time with this productivity-oriented application.
                        </p>
                    </div>
                    <button class="btn btn-outline-primary mt-3">View Source</button>
                </div>
            </div>

            <!--Notebook-->
            <div class="card align-middle shadow-sm mt-2 mb-2" style="height: 550px; width: 350px; margin: 0px auto">
                <div class="p-5 text-center">
                    <h1>Notebook</h1>
                    <br>
                    <img src="https://upload.wikimedia.org/wikipedia/commons/7/77/The_Damascus_Document_Scroll.jpg" height="100px" width="100px" class="shadow-sm" style="border-radius: 100%">
                    <br>
                    <br>
                    <hr>
                    <br>
                    <div style="height: 120px">
                        <p>
                            Monitor and keep track of your study habits. Visualize trends in your learning, and optimize your study time with this productivity-oriented application.
                        </p>
                    </div>
                    <a href="https://github.com/cafeamericano/notebook">
                        <button class="btn btn-outline-primary mt-3">View Source</button>
                    </a>
                </div>
            </div>

  </div>
</div>

<br>
<br>

</div>