<div class="container">

<br>
<br>

<div class="text-center">
    <h1>Applications</h1>
    <br>
    <p>Aspiring web developer with over a year of self-directed experience. I am seeking a part- time internship position that will allow me to utilize and improve my web-development skills while simultaneously furthering my skillset as a student of the UNC Chapel Hill Coding Bootcamp.</p>
</div>

<br>
<hr>
<br>

<div class="container">
  <div class="row">
    <div class="col-lg">
        <div class="card align-middle shadow-sm" style="height: 550px; width: 100%; margin: 0px auto">
            <div class="p-5 text-center">
                <h1>Study Log</h1>
                <br>
                <img src="images/a.jpg" height="100px" width="100px" class="shadow-sm" style="border-radius: 100%">
                <br>
                <br>
                <hr>
                <br>
                <p>Aspiring web developer with over a year of self-directed experience. I am seeking a part- time internship position that will allow me to utilize and improve my web-development skills while simultaneously furthering my skillset as a student of the UNC Chapel Hill Coding Bootcamp.</p>
                <button class="btn btn-outline-primary">View</button>
            </div>
        </div>
    </div>
    <div class="col-lg">
        <div class="card align-middle shadow-sm" style="height: 550px; width: 100%; margin: 0px auto">
            <div class="p-5 text-center">
                <h1>Finance Tracker</h1>
                <br>
                <img src="images/b.jpg" height="100px" width="100px" class="shadow-sm" style="border-radius: 100%">
                <br>
                <br>
                <hr>
                <br>
                <p>Aspiring web developer with over a year of self-directed experience. I am seeking a part- time internship position that will allow me to utilize and improve my web-development skills.</p>
                <small class="font-italic">Release Date: April 2019</small>
                <br>
                <br>
                <button type="button" class="btn btn-outline-primary" disabled>View</button>
            </div>
        </div>
    </div>
  </div>
</div>

<br>
<br>

</div>