<div style="overflow: hidden">
    <div style="max-height: 500px">
        <img src="images/apps2.jpg" width="100%">
    </div>
</div>

<div class="container text-center mt-5 mb-5">
    <h1>Applications</h1>
    <br>
    <p>
        While an explanation of my web development skillset might be helpful, nothing can provide a better understanding
        of my capabilities than taking a look at some of the applications that I've created. Check out some of the
        applications that I've produced below - this is an ever-growing and constantly-improving list of my works.
    </p>
</div>

<div class="container mb-5 text-center">

    <div class="bg-gray" style="height: 570px; overflow: scroll; display: flex;  padding-right: 20px;">
        <div class="shadow card text-center pt-3" style="height: 520px; min-width: 250px; margin: 20px">
            <h3 class="p-3">Word Guess</h3>
            <div class="text-center pt-3">
                <img class="rounded-circle" height="120px" width="120px" src="https://via.placeholder.com/150" />
            </div>
            <hr class="ml-4 mr-4">
            <p class="p-4 text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, modi rerum
                officia facilis.</p>
            <div class="text-center"><button class="btn btn-outline-primary" style="width: 100px">View</button></div>
        </div>
        <div class="shadow card text-center pt-3" style="height: 520px; min-width: 250px; margin: 20px">
            <h3 class="p-3">Application Name</h3>
            <div class="text-center pt-3">
                <img class="rounded-circle" height="120px" width="120px" src="https://via.placeholder.com/150" />
            </div>
            <hr class="ml-4 mr-4">
            <p class="p-4 text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, modi rerum
                officia facilis.</p>
            <div class="text-center"><button class="btn btn-outline-primary" style="width: 100px">View</button></div>
        </div>
    </div>

    <div class="text-center">
        <br>
        <a href="/connect"><button class="btn btn-outline-primary" link="/apps">Get Connected</button></a>
    </div>

</div>