<div style="overflow: hidden">
    <div style="max-height: 500px">
        <img src="images/apps2.jpg" width="100%">
    </div>
</div>

<div class="container text-center mt-5 mb-5">
    <h1>Applications</h1>
    <br>
    <p>
        While an explanation of my web development skillset might be helpful, nothing can provide a better understanding
        of my capabilities than taking a look at some of the applications that I've created. Check out some of the
        applications that I've produced below - this is an ever-growing and constantly-improving list of my works.
    </p>
</div>

<div class="mb-5 text-center">

    <div class="bg-dark" style="height: 570px; overflow: scroll; display: flex;  padding-right: 20px;">
        <div class="shadow card text-center pt-3"
            style="height: 520px; min-width: 250px; max-width: 250px; margin: 20px">
            <h3 class="p-3">Word Guess Game</h3>
            <div class="text-center pt-3">
                <img class="rounded-circle" height="120px" width="120px" src="../images/princess.png" />
            </div>
            <hr class="ml-4 mr-4">
            <p class="p-3 text-justify">In this game, guess the word correctly to save the princess!</p>
            <a href="https://cafeamericano.github.io/UNC03-WordGuessGame/" target="_blank"><div class="text-center"><button class="btn btn-outline-primary" style="width: 130px">Experience</button></div></a>
            <a href="https://github.com/cafeamericano/UNC03-WordGuessGame" target="_blank"><div class="text-center"><button class="btn btn-outline-primary m-2" style="width: 130px">View Source</button></div></a>
        </div>
        <div class="shadow card text-center pt-3"
            style="height: 520px; min-width: 250px; max-width: 250px; margin: 20px">
            <h3 class="p-3">RPG Combat Game I</h3>
            <div class="text-center pt-3">
                <img class="rounded-circle" height="120px" width="120px" src="../images/rpg.png" />
            </div>
            <hr class="ml-4 mr-4">
            <p class="p-3 text-justify">Select a character, then choose your battles carefully to win the game!</p>
            <a href="https://cafeamericano.github.io/UNC-04UnitFourGame/" target="_blank"><div class="text-center"><button class="btn btn-outline-primary" style="width: 130px">Experience</button></div></a>
            <a href="https://github.com/cafeamericano/UNC-04UnitFourGame" target="_blank"><div class="text-center"><button class="btn btn-outline-primary m-2" style="width: 130px">View Source</button></div></a>        
        </div>
        <div class="shadow card text-center pt-3"
            style="height: 520px; min-width: 250px; max-width: 250px; margin: 20px">
            <h3 class="p-3">RPG Combat Game II</h3>
            <div class="text-center pt-3">
                <img class="rounded-circle" height="120px" width="120px" src="../images/rpg2.png" />
            </div>
            <hr class="ml-4 mr-4">
            <p class="p-3 text-justify">An alternate version of the original RPG Combat Game application.</p>
            <a href="https://cafeamericano.github.io/fantasyBattle/" target="_blank"><div class="text-center"><button class="btn btn-outline-primary" style="width: 130px">Experience</button></div></a>
            <a href="https://github.com/cafeamericano/fantasyBattle" target="_blank"><div class="text-center"><button class="btn btn-outline-primary m-2" style="width: 130px">View Source</button></div></a>        
        </div>
        <div class="shadow card text-center pt-3"
            style="height: 520px; min-width: 250px; max-width: 250px; margin: 20px">
            <h3 class="p-3">Photography Trivia / Quiz</h3>
            <div class="text-center pt-3">
                <img class="rounded-circle" height="120px" width="120px" src="../images/trivia.png" />
            </div>
            <hr class="ml-4 mr-4">
            <p class="p-3 text-justify">Answer questions within a time limit, then see your results.</p>
            <a href="https://cafeamericano.github.io/UNC-05TriviaGame/" target="_blank"><div class="text-center"><button class="btn btn-outline-primary" style="width: 130px">Experience</button></div></a>
            <a href="https://github.com/cafeamericano/UNC-05TriviaGame" target="_blank"><div class="text-center"><button class="btn btn-outline-primary m-2" style="width: 130px">View Source</button></div></a>        
        </div>
        <div class="shadow card text-center pt-3"
            style="height: 520px; min-width: 250px; max-width: 250px; margin: 20px">
            <h3 class="p-3">Application Name</h3>
            <div class="text-center pt-3">
                <img class="rounded-circle" height="120px" width="120px" src="https://via.placeholder.com/150" />
            </div>
            <hr class="ml-4 mr-4">
            <p class="p-3 text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eveniet, modi rerum
                officia facilis.</p>
            <div class="text-center"><button class="btn btn-outline-primary" style="width: 100px">View</button></div>
        </div>
    </div>

    <div class="text-center">
        <br>
        <a href="/connect"><button class="btn btn-outline-primary" link="/apps">Get Connected</button></a>
    </div>

</div>