<div class="container">

<br>
<br>

<div class="text-center">
    <h1>More Information</h1>
    <p>Aspiring web developer with over a year of self-directed experience. I am seeking a part- time internship position that will allow me to utilize and improve my web-development skills while simultaneously furthering my skillset as a student of the UNC Chapel Hill Coding Bootcamp.</p>
</div>

<br>

<div class="container text-center">
    <div class="card shadow-sm m-3 p-3" style="display: inline-block; width: 300px; height: 250px; margin: 0px auto">
        <h4>GitHub</h4>
        <hr>
        <i class="fab fa-github fa-5x"></i>
        <br><br>
        <p>/cafeamericano</p>
    </div>
    <div class="card shadow-sm m-3 p-3" style="display: inline-block; width: 300px; height: 250px; margin: 0px auto">
        <h4>Linkedin</h4>
        <hr>
        <i class="fab fa-linkedin fa-5x"></i>
        <br><br>
        <p>/matthew-farmer-204930182</p>
    </div>
    <div class="card shadow-sm m-3 p-3" style="display: inline-block; width: 300px; height: 250px; margin: 0px auto">
        <h4>Email</h4>
        <hr>
        <i class="fas fa-envelope fa-5x"></i>  
        <br><br>
        <p>mfarmer5102@gmail.com</p>
    </div>


</div>

<br>
<br>

</div>