<div style="overflow: hidden">
    <div style="max-height: 500px">
        <img src="images/connect1.jpg" width="100%">
    </div>
</div>

<div class="container">

<br>
<br>

<div class="text-center">
    <h1>Connect</h1>
    <p>
        Looking for examples of my source code or would like to get connected? See my GitHub or Linkedin page, or contact me by email.
    </p>
</div>

<hr>
<br>

<div class="container text-center">
    <div class="card shadow-sm m-3 p-3" style="display: inline-block; width: 300px; height: 250px; margin: 0px auto">
        <h4>GitHub</h4>
        <hr>
        <i class="fab fa-github fa-5x"></i>
        <br><br>
        <p>/cafeamericano</p>
    </div>
    <div class="card shadow-sm m-3 p-3" style="display: inline-block; width: 300px; height: 250px; margin: 0px auto">
        <h4>Linkedin</h4>
        <hr>
        <i class="fab fa-linkedin fa-5x"></i>
        <br><br>
        <p>/matthew-farmer-204930182</p>
    </div>
    <div class="card shadow-sm m-3 p-3" style="display: inline-block; width: 300px; height: 250px; margin: 0px auto">
        <h4>Email</h4>
        <hr>
        <i class="fas fa-envelope fa-5x"></i>  
        <br><br>
        <p>mfarmer5102@gmail.com</p>
    </div>


</div>

<br>
<br>

</div>