<script type="text/javascript">

// Load the Visualization API and the corechart package.
google.charts.load('current', {'packages':['corechart']});

// Set a callback to run when the Google Visualization API is loaded.
google.charts.setOnLoadCallback(drawChart);

// Callback that creates and populates a data table,
// instantiates the pie chart, passes in the data and
// draws it.
function drawChart() {

// Create the data table.
var data = new google.visualization.DataTable();
data.addColumn('string', 'Tech');
data.addColumn('number', 'Level');
data.addRows([
    ['HTML5', 5,],
    ['CSS3', 5],
    ['JavaScript', 4.5],
    ['SQL', 4.5],
    ['Bootstrap', 4],
    ['NodeJS', 3.5],
    ['ExpressJS', 3.5],
    ['ReactJS', 3],
    ['Heroku', 1],
]);

// Set chart options
  var options = { 
        'title':'',
        'width':'100%',
        'height':'100%',
        'legend':'none',
        hAxis: { textPosition: 'none' },
        'chartArea': {'width': '80%', 'height': '95%'},
        'backgroundColor': { fill:'transparent'},
        'animation': {'startup':true, duration: 1200, easing: 'inAndOut'},
        colors: ['#16e23c'],
        bar: {groupWidth: "70%"},
        enableInteractivity: false,
    };

// Instantiate and draw our chart, passing in some options.
var chart = new google.visualization.BarChart(document.getElementById('chart_div'));
chart.draw(data, options);
}
</script>

<!--=======================================--->

<div style="overflow: hidden">
    <div style="max-height: 500px">
        <img src="images/home1.jpg" width="100%">
    </div>
</div>

<br>

<div class="container">

    <div class="text-center">
        <h4>Hello, World! Meet...</h4>
        <h1>Matthew Farmer</h1>
        <br>
        <p>
            I'm a web developer with a mind that lives out of the box and a keen eye for design. Every application that I create begins with three simple questions... 
        </p>
        <i>"Why am I creating this?"</i><br>
        <i>"What do I want it to do?"</i><br>
        <i>"How can I make it look great?"</i><br>

        <br>

        <p>
            These three questions form the foundation of my design process and, for the simplest project to the most complex one, guide me during web development.
        </p>

    </div>

</div>

<br>

<div style="overflow: hidden">
    <div style="max-height: 500px">
        <img src="images/home2.jpg" width="100%">
    </div>
</div>

<br>

<div class="container">
    <div class="text-center">
        <h1>Skills</h1>
        <br>
        <p>
            HTML. CSS. JavaScript. NodeJS. These are just a few of my skillsets that I use to create powerful yet beautiful web applications. See the complete list of my ever-expanding knowledge base and programming skillset below.
        </p>
    </div>

    <br>

    <div class="row">
        <div class="col-6">
            <h2>Languages</h2>
        </div>
        <div class="col-3">
            <br>
            <h6>HTML</h6>
            <h6>CSS</h6>
            <h6>JavaScript</h6>
        </div>
        <div class="col-3">
            <br>
            <h6>jQuery</h6>
            <h6>SQL</h6>
            <h6>JSON</h6>
        </div>
    </div>

    <hr>
    <br>

    <div class="row">
        <div class="col-6">
            <h2>Frameworks</h2>
        </div>
        <div class="col-3">
            <br>
            <h6>NodeJS</h6>
            <h6>ExpressJS</h6>
        </div>
        <div class="col-3">
            <br>
            <h6>ReactJS</h6>
            <h6>Bootstrap</h6>
        </div>
    </div>

    <hr>
    <br>

    <div class="row">
        <div class="col-6">
            <h2>Tools and Technologies</h2>
        </div>
        <div class="col-3">
            <br>
            <h6>MySQL</h6>
            <h6>MongoDB</h6>
            <h6>Git</h6>
            <h6>Handlebars</h6>
            <h6>EJS</h6>
        </div>
        <div class="col-3">
            <br>
            <h6>Cookies</h6>
            <h6>Visual Studio Code</h6>
            <h6>Atom</h6>
            <h6>Photoshop</h6>
            <h6>Lightroom</h6>
        </div>
    </div>

</div>

<br>

<div style="overflow: hidden">
    <div style="max-height: 500px">
        <img src="images/home3.jpg" width="100%">
    </div>
</div>

<br>

<div class="container">

    <div class="text-center">
        <h1>Expertise</h1>
        <br>
        <p>
            I believe that a web developer's learning experience is a never ending one. In a rapidly evolving industry, I'm constantly thrive to add new tools and technologies repertoire while furthering my understanding of those with which I am already familiar.
        </p>
    </div>

    <div class="text-center">
        <div id="chart_div" style="height: 500px; width: 100%"></div>
    </div>

    <hr>
    <br>

    <div class="text-center">
        <h1>Explore</h1>
        <br>
        <p>
            I believe that a web developer's learning experience is a never ending one. In a rapidly evolving industry, I consistently thrive to add new tools and technologies to my repertoire while furthering my understanding of those tools with which I am already familiar.
        </p>
        <a href="/apps"><button class="btn btn-outline-primary" link="/apps">See My Work</button></a>

    </div>

    <br>
    <br>

</div> 