<div style="overflow: hidden">
    <div style="max-height: 500px">
        <img src="images/mystory1.jpg" width="100%">
    </div>
</div>

<div class="container">

    <br>
    <br>

    <div class="text-center">
        <h1>My Story</h1>
        <br>
        <p>
            The beginnings of my journey as a web developer can be traced to a time long before I began studying HTML, CSS, and JavaScript in 2018. By the early 2010s, I was developing application-like experiences for clients using Microsoft Excel capable of performing a wide variety of functions. Despite satisfaction from my clients, I desired more control and power when it came to creating such applications - I wanted to create beautiful, custom experiences that didn't depend on (nor were restricted by) an application like Excel.
        </p>
    </div>

    <br>
    <br>

</div>